* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	position: absolute;
	height:1080px;    
	width: 1920px;
    background-color: rgba(255,103,98,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}


#title-text {
	font-weight:bold;
	font-size:11em;
	color:#FFF;
}

#samsung_tizen_web_videoplayer {
	position: absolute;
	z-index: -1;
}

#container-video {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#right-arrow {
	position: absolute;
    left: 90%;
    margin-top: 26%;
}
#right-arrow:hover {
    border-color: yellow;
    border-radius: 9px;
    border-style: solid;
    border-width: thick;
}

.material-icons {
    font-size: 100px !important;
    color: white !important;

}