* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
    overflow: hidden;
}

h1 {
	color: white;
	font-size: 100px;
}

p {
	color: white;
	font-size: 40px;
}

#container-video {
	opacity: 0;
}

.loading{
	position: absolute;
	height:1080px;    
	width: 1920px;
	left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	opacity: 1;
}

.registerScreen{
	position: absolute;
	height:1080px;    
	width: 1920px;
	left: -1920px;
}

.titleScreen{
	position: absolute;
	left: 0;
	opacity: 0;
}

.catalogScreen{
	position: absolute;
	height:1080px;    
	width: 1920px;
	top: 1080px;
}

.informationScreen{
	position: absolute;
	height:1080px;    
	width: 620px;
	left: 1920px;
	background-color: rgba(0,0,0,0.8);
    z-index: 5;
    box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.2), 0 15px 30px 0 rgba(0, 0, 0, 0.19);
	
}

#informationEnclosure{
	margin: 60px;
}

#descriptionEnclosure{
	height: 575px;
    margin-bottom: 40px;
}

#usrLogged{
    position: absolute;
    z-index: 2;
    width: 1000px;
    text-align: end;
    top: 70px;
    font-size: 40px;
    color: white;
    left: 830px;
}

#messageForm{
    position: absolute;
    z-index: 4;
    text-align: end;
    top: 570px;
    font-size: 35px;
    color: white;
    left: 650px;
}

#returnFromInfo{
	position: absolute;
	height:1080px;    
	width: 1300px;
	left: 1920px;
	z-index: 5;
}

.title {
	position: absolute;
	height:1080px;    
	width: 1920px;
    background-color: rgba(255,103,98,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}


#title-text {
	font-weight:bold;
	font-size:11em;
	color:#FFF;
}

#samsung_tizen_web_videoplayer {
	position: absolute;
	z-index: -1;
}

#container-video {
	filter: blur(5px);
}

.userInput{
	font-size: 55px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    border-width: 5px;
}

.buttonSend {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 31px;
}
.arrowRight {
	position: absolute;
    left: 1600px;
    top: 500px;
    z-index: 2;
}

.arrowDown {
	position: absolute;
    left: 900px;
    top: 900px;
    z-index: 2;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 182px;
    margin-top: 3px;
    margin-left: 174px;
    margin-right: 174px;
    
  }
  .cell {
    flex: 0 0 29%;
    height: 215px;
    margin-bottom: 29px;
    background-color: #999;
    background-size: cover;
  }
  
  

.videoTitle{
	margin-top: 170px;
}
  
.selected {
    box-shadow: 0 0 7pt 6pt yellow;
    -webkit-transition : box-shadow 300ms ease-out;
  	-moz-transition : box-shadow 300ms ease-out;
  	-o-transition : box-shadow 300ms ease-out;
  	transition : box-shadow 300ms ease-out;
}

#actualPage {
    position: absolute;
    text-align: end;
    z-index: 2;
    top: 900px;
    left: 1040px;
    font-size: 90px;
    color: white;
    width: 500px;
}

.arrowLeft {
	position: absolute;
    left: 100px;
    top: 500px;
    width: 100px;
    z-index: 2;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrowUp {
	position: absolute;
    left: 903px;
    top: 70px;
    z-index: 2;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#thumbsUpIcon {
	color: green !important;
}

#thumbsDownIcon {
	color: red !important;
}

.material-icons {
    font-size: 100px !important;
    color: white !important;

}

#registerForm {
	position: absolute;
    height: 250px;
    width: 1000px;
    z-index: 3;
    top: 415px;
    left: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: rgba(0,0,0,0.8);
    box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.2), 0 15px 30px 0 rgba(0, 0, 0, 0.19);   
}

.scroll-left {
	overflow: hidden;
	position: relative;
}
.scroll-left p {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%); 
	transform:translateX(100%);
	/* Apply animation to this element */ 
	-moz-animation: scroll-left 60s linear infinite;
	-webkit-animation: scroll-left 60s linear infinite;
	animation: scroll-left 60s linear infinite;
	}
	/* Move it (define the animation) */
	@-moz-keyframes scroll-left {
	0% { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
	}
	@-webkit-keyframes scroll-left {
	0% { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
	}
	@keyframes scroll-left {
	0% { 
	-moz-transform: translateX(100%); /* Browser bug fix */
	-webkit-transform: translateX(100%); /* Browser bug fix */
	transform: translateX(100%); 
	}
	100% { 
	-moz-transform: translateX(-100%); /* Browser bug fix */
	-webkit-transform: translateX(-100%); /* Browser bug fix */
	transform: translateX(-100%); 
	}
}