* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
    overflow: hidden;
}

#container-video {
	opacity: 0;
}

.loading{
	position: absolute;
	height:1080px;    
	width: 1920px;
	left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	opacity: 1;
}

.titleScreen{
	position: absolute;
	left: 0;
	opacity: 0;
}

.title {
	position: absolute;
	height:1080px;    
	width: 1920px;
    background-color: rgba(255,103,98,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}


#title-text {
	font-weight:bold;
	font-size:11em;
	color:#FFF;
}

#samsung_tizen_web_videoplayer {
	position: absolute;
	z-index: -1;
}

#container-video {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#arrowRight {
	position: absolute;
    left: 1600px;
    top: 500px;
}
#arrowRight:hover {
    border-color: yellow;
    border-radius: 9px;
    border-style: solid;
    border-width: thick;
}

#arrowDown {
	position: absolute;
    left: 900px;
    top: 900px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#arrowDown:hover {
    border-color: yellow;
    border-radius: 9px;
    border-style: solid;
    border-width: thick;
}

.selected {
    border-color: yellow;
    border-radius: 9px;
    border-style: solid;
    border-width: thick;
}

#arrowLeft {
	position: absolute;
    left: 100px;
    top: 500px;
    width: 100px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#arrowLeft:hover {
    border-color: yellow;
    border-radius: 9px;
    border-style: solid;
    border-width: thick;
}


.material-icons {
    font-size: 100px !important;
    color: white !important;

}